{
    "presets": [
        [
            "env",
            {
                "useBuiltIns": true,
                "modules": false
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-runtime",
        "babel-plugin-transform-decorators-legacy",
        "react-hot-loader/babel"
    ],
    "env": {
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "useBuiltIns": true,
                        "modules": false
                    }
                ],
                "react",
                "stage-0",
                "react-optimize"
            ],
            "plugins": [
                "transform-runtime",
                "babel-plugin-transform-decorators-legacy",
                "transform-remove-console"
            ]
        }
    }
}
